{% block content %}
    {% set first_email = "" %}
    {% set second_email = "" %}
    {% set first_phone = "" %}
    {% set second_phone = "" %}
    {% if primary_email is not empty %}
        {% set first_email = primary_email %}
        {% set second_email = alternate_email %}
    {% elseif alternate_email is not empty %}
        {% set first_email = alternate_email %}
    {% endif %}
    {% if primary_phone is not empty %}
        {% set first_phone = primary_phone %}
        {% set second_phone = alternate_phone %}
    {% elseif alternate_phone is not empty %}
        {% set first_phone = alternate_phone %}
    {% endif %}
    <h3>{{ dept_name }}</h3>
    <address class="address_2">
       <p> {% if campus_map is not empty %}<a href="{{ campus_map }}" target="_blank">{% endif %}
            {{ address_1 }}
            {% if address_2 is not empty %}<br />{{ address_2 }} {% endif %}
            {% if address_3 is not empty %}<br />{{ address_3 }} {% endif %}
            {% if campus_map is not empty %}</a>{% endif %}</p>
    {% if (first_email is not empty) or (first_phone is not empty) %}
		<p>{% if first_phone is not empty %} Tel: {{ first_phone }}<br />{% endif %}
        {% if second_phone is not empty %} Alt Tel: {{ second_phone }}<br /> {% endif %}
        {% if fax is not empty %} Fax: {{ fax }}<br /> {% endif %}
        {% if first_email is not empty %}E-mail: <a href="mailto:{{ first_email }}">{{ first_email }}</a>{% endif %}
        {% if second_email is not empty %}<br />Alt E-mail: <a href="mailto:{{ second_email }}">{{ second_email }}</a> {% endif %}</p>
    {% endif %}
    </address>
    {% if (campus_map is not empty) and (show_campus_map != 0) %}
    <p>
        <a class="link-img link-img-location" href="{{ campus_map }}" target="_blank"> Find Us{% if show_campus_map == 2 %}<br /><br />
            <img src="/themes/custom/ucr_default/images/googlemap.png" alt="">{% endif %}</a>
    </p>
    {% endif %}
{% endblock %}
