{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
{% set article_type = fields.field_article_type_list.content|striptags|trim %}
{% set article_author = fields.field_article_author.content|striptags|trim %}
{% set category_link = fields.path.content|striptags|escape %}
{% set article_category = fields.field_category.content|striptags %}
{% set article_image = fields.field_article_image.content|striptags('<img>')|trim %}
{% set displaytitle = fields.title.content|render|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') %}
  <div class="article grid-x">
    <div class="small-3 image-cont">
     {% if article_image is not empty %}
      <div class="article-image">
        {{ fields.field_article_image.content }}
      </div>
     {% endif %}
    </div>
    <div class="small-9">
      <a href="{% spaceless %}{{ fields.path.content|striptags|escape }}{% endspaceless %}" class="article-listing-link">
        <div class="article-title separator-line-dark-before">
          {% spaceless %}{{ displaytitle }}{% endspaceless %}
        </div>
      </a>
      {% if article_author %}<span class="author">By {{ fields.field_article_author.content }} on </span>{% endif %}
      <div class="article-date">
        <span class="month">{{ fields.field_article_date.content|striptags|date("F") }}</span>&nbsp;
        <span class="day">{{ fields.field_article_date.content|striptags|date("d") }}</span>,
        <span class="year">{{ fields.field_article_date.content|striptags|date("Y") }}</span>
      </div>
      <div class="category-container">
         <a href="/{% spaceless %}{{- article_type -}}{% endspaceless %}" target="_blank">{% spaceless %}{{ article_type }}{% endspaceless %}</a>
         {% if article_category|render|striptags|trim %} |
          <a href="/article-category/{% spaceless %}{{- article_category|lower -}}{% endspaceless %}" target="_blank">
            {% spaceless %}
              {{- fields.field_category.content  -}}
            {% endspaceless %}
          </a>
        {% endif %}
      </div>
      <div class="article-summary">
        {{ fields.body.content }}
      </div>
    </div>
</div>

{# {% for field in fields -%}
  {{ field.separator }}
  {%- if field.wrapper_element -%}
    <{{ field.wrapper_element }}{{ field.wrapper_attributes }}>
  {%- endif %}
  {%- if field.label -%}
    {%- if field.label_element -%}
      <{{ field.label_element }}{{ field.label_attributes }}>{{ field.label }}{{ field.label_suffix }}</{{ field.label_element }}>
    {%- else -%}
      {{ field.label }}{{ field.label_suffix }}
    {%- endif %}
  {%- endif %}
  {%- if field.element_type -%}
    <{{ field.element_type }}{{ field.element_attributes }}>{{ field.content }}</{{ field.element_type }}>
  {%- else -%}
    {{ field.content }}
  {%- endif %}
  {%- if field.wrapper_element -%}
    </{{ field.wrapper_element }}>
  {%- endif %}
{%- endfor %} #}
