{#
/**
 * @file
 * Default theme implementation to display a list of Alma calendar records.
 *
 * Available variables:
 *   - records
 *
 * @ingroup themeable
 */
#}
<div class="hours-list">
    <h4>Orbach</h4>
    {% for day in orbach.day %}
        {{ day.date }}<br>
        {% for hour in day.hours %}
        From:{{ hour.hour.from }} To:{{ hour.hour.to }}<br>
        {% endfor %}
    {% endfor %}

    <h4>Rivera</h4>
    {% for day in orbach.day %}
        {{ day.date }}<br>
        {% for hour in day.hours %}
        From:{{ hour.hour.from }} To:{{ hour.hour.to }}<br>
        {% endfor %}
    {% endfor %}

    <h4>Music</h4>
   {% for day in orbach.day %}
        {{ day.date }}<br>
        {% for hour in day.hours %}
        From:{{ hour.hour.from }} To:{{ hour.hour.to }}<br>
        {% endfor %}
    {% endfor %}

    <h4>Special Collections</h4>
    {% for day in orbach.day %}
        {{ day.date }}<br>
        {% for hour in day.hours %}
        From:{{ hour.hour.from }} To:{{ hour.hour.to }}<br>
        {% endfor %}
    {% endfor %}
</div>