{#
/**
 * @file
 * Default theme implementation to display a list of Alma calendar records.
 *
 * Available variables:
 *   - records
 *
 * @ingroup themeable
 */
#}

<nav>
    <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-rivera-tab" data-toggle="tab" href="#nav-rivera" role="tab" aria-controls="nav-rivera" aria-selected="true">Tom치s Rivera Library</a>
        <a class="nav-item nav-link" id="nav-orbach-tab" data-toggle="tab" href="#nav-orbach" role="tab" aria-controls="nav-orbach" aria-selected="false">Orbach Science Library</a>
        <a class="nav-item nav-link" id="nav-music-tab" data-toggle="tab" href="#nav-music" role="tab" aria-controls="nav-music" aria-selected="false">Music Library</a>
        <a class="nav-item nav-link" id="nav-scua-tab" data-toggle="tab" href="#nav-scua" role="tab" aria-controls="nav-scua" aria-selected="false">Special Collections &amp; University Archives</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-rivera" role="tabpanel" aria-labelledby="nav-rivera-tab">
        <div class="row">
            <!-- Tom치s Rivera Library -->
            <div class="col-md-4">
                <div class="card hours">
                    <div class="card-header">
                        Tom치s Rivera Library
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for day in rivera.day %}
                            <li class="list-group-item {% if loop.first %}bg-success{% endif %}">
                                <strong>{{ day.day_of_week.attributes.desc }}</strong>&nbsp;{{ day.date | date('n-j') }}
                                <span class="float-lg-right">
                                    {% for hour in day.hours %}
                                        {% if hour %}
                                            {{ hour.hour.from | date('g:ia') }}
                                            -
                                            {{ hour.hour.to | date('g:ia') }}
                                        {% else %}
                                            CLOSED
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- End Tom치s Rivera Library -->

            <!-- Library Administration -->
            <div class="col-md-4">
                <div class="card hours">
                    <div class="card-header">
                        Library Administration
                    </div>
                    <div class="card-body text-center">
                        <p>Open weekdays from 8am to 5pm</p>
                        <p>Located first floor Rivera.</p>
                    </div>
                </div>
            </div>
            <!-- End Library Administration -->

            <!-- Research Services Rivera -->
            <div class="col-md-4">
                <div class="card hours">
                    <div class="card-header">
                        Research Services Rivera
                    </div>
                    <div class="card-body text-center">
                        <p>Open weekdays from 10am to 5pm</p>
                        <p>Located first floor Rivera.</p>
                    </div>
                </div>
            </div>
            <!-- End Research Services Rivera -->
        </div>
    </div>
    <div class="tab-pane fade" id="nav-orbach" role="tabpanel" aria-labelledby="nav-orbach-tab">
        <div class="row">
            <!-- Orbach Science Library -->
            <div class="col-md-4">
                <div class="card hours">
                    <div class="card-header">
                        Orbach Science Library
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for day in orbach.day %}
                            <li class="list-group-item {% if loop.first %}bg-success{% endif %}">
                                <strong>{{ day.day_of_week.attributes.desc }}</strong>&nbsp;{{ day.date | date('n-j') }}
                                <span class="float-lg-right">
                                    {% for hour in day.hours %}
                                        {% if hour %}
                                            {{ hour.hour.from | date('g:ia') }}
                                            -
                                            {{ hour.hour.to | date('g:ia') }}
                                        {% else %}
                                            CLOSED
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- End Orbach Science Library -->

            <!-- Map Services -->
            <div class="col-md-4">
                <div class="card hours">
                    <div class="card-header">
                        Map Services
                    </div>
                    <div class="card-body text-center">
                        <p>Open weekdays from 9am to 5pm</p>
                        <p>Closed 12pm to 1pm</p>
                        <p>Located first floor Orbach.</p>
                    </div>
                </div>
            </div>
            <!-- Map Services -->

            <!-- Research Services OSL -->
            <div class="col-md-4">
                <div class="card hours">
                    <div class="card-header">
                        Research Services OSL
                    </div>
                    <div class="card-body text-center">
                        <p>Open weekdays from 8am to 4pm</p>
                        <p>Located first floor Orbach.</p>
                    </div>
                </div>
            </div>
            <!-- End Research Services OSL -->

            <!-- Creat'R Lab -->
            <div class="col-md-4">
                <div class="card hours">
                    <div class="card-header">
                        Creat'R Lab
                    </div>
                    <div class="card-body text-center">
                        <p>Open weekdays from 11am to 4pm</p>
                        <p>Located first floor Orbach.</p>
                    </div>
                </div>
            </div>
            <!-- Creat'R Lab -->
        </div>
    </div>
    <div class="tab-pane fade" id="nav-music" role="tabpanel" aria-labelledby="nav-music-tab">
        <div class="row">
            <!-- Music Library -->
            <div class="col-md-4">
                <div class="card hours">
                    <div class="card-header">
                        Music Library
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for day in music.day %}
                            <li class="list-group-item {% if loop.first %}bg-success{% endif %}">
                                <strong>{{ day.day_of_week.attributes.desc }}</strong>&nbsp;{{ day.date | date('n-j') }}
                                <span class="float-lg-right">
                                    {% for hour in day.hours %}
                                        {% if hour %}
                                            {{ hour.hour.from | date('g:ia') }}
                                            -
                                            {{ hour.hour.to | date('g:ia') }}
                                        {% else %}
                                            CLOSED
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- End Music Library -->
        </div>
    </div>
    <div class="tab-pane fade" id="nav-scua" role="tabpanel" aria-labelledby="nav-scua-tab">
        <div class="row">
            <!-- Special Collections & University Archives -->
            <div class="col-md-4">
                <div class="card hours">
                    <div class="card-header">
                        Special Collections &amp; University Archives
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for day in scua.day %}
                            <li class="list-group-item {% if loop.first %}bg-success{% endif %}">
                                <strong>{{ day.day_of_week.attributes.desc }}</strong>&nbsp;{{ day.date | date('n-j') }}
                                <span class="float-lg-right">
                                    {% for hour in day.hours %}
                                        {% if hour %}
                                            {{ hour.hour.from | date('g:ia') }}
                                            -
                                            {{ hour.hour.to | date('g:ia') }}
                                        {% else %}
                                            CLOSED
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- End Special Collections & University Archives -->
        </div>
    </div>
</div>