<div class="two-column grid-x grid-padding-x">
  <div class="top cell small-12">
    {{ content.top }}
  </div>
  <div class="column-1 cell small-12 medium-3">
    {{ content.first_column1 }}
  </div>
  <div class="column-2 cell small-12 medium-9">
    {{ content.first_column2 }}
  </div>
  <div class="middle cell">
    {{content.middle }}
  </div>
   <div class="column-1 cell small-12 medium-3">
    {{ content.second_column1 }}
  </div>
  <div class="column-2 cell small-12 medium-9">
    {{ content.second_column2 }}
  </div>
  <div class="bottom cell small-12">
    {{ content.bottom }}
  </div>
</div>